/* static/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

a {
    text-decoration: none;
    color: #094609;
    margin-right: 10px;
}

button {
    background-color: #094609;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #083b08;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.rouge {
    background-color: red;
}

.orange {
    background-color: orange;
}

.vert {
    background-color: green;
}

/* Footer */
footer {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #999;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-left {
    margin-left: 10px;
}

.footer-right {
    margin-right: 10px;
}

/* Header */
header {
    background-color: #094609; /* Couleur verte foncée */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}

.logo img {
    height: 60px; /* Ajustez la hauteur du logo selon vos besoins */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    background-color: #094609;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}

/* Styling pour les boutons "+" et "-" */
.plus-button,
.minus-button,
.valider-colis-button {
    background-color: #094609; /* Couleur verte */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    transition: background-color 0.3s;
    display: inline-block; /* Affiche les boutons en ligne */
    width: 30px; /* Largeur */
    height: 18px; /* Hauteur */
    text-align: center; /* Centre le contenu */
}

.plus-button:hover,
.minus-button:hover,
.valider-colis-button:hover {
    background-color: #052b05; /* Couleur verte plus foncée au survol */
}

.plus-button:focus,
.minus-button:focus,
.valider-colis-button:focus {
    outline: none;
}

/* Styling pour les boutons de modification et de suppression */
.modify-button,
.supprimer {
    background-color: #094609; /* Couleur bleue */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    transition: background-color 0.3s;
    float: right; /* Place les boutons à droite */
}

.modify-button:hover,
.supprimer:hover {
    background-color: #052b05; /* Couleur bleue plus foncée au survol */
}

.modify-button:focus,
.supprimer:focus {
    outline: none;
}

.completed {
    text-decoration: line-through;
}
