<!DOCTYPE html>
<html>
<head>
    <title>Ajouter une nouvelle commande</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('accueil') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('maj_commandes') }}">Gestion des commandes</a></li>
                <li><a href="{{ url_for('liste_commandes') }}">Liste des commandes</a></li>
                <li><a href="{{ url_for('ajouter_commande') }}">Ajouter une commande</a></li>
            </ul>
        </nav>
    </header>
    <h1>Ajouter une nouvelle commande</h1>
    <form action="{{ url_for('ajouter_commande') }}" method="POST">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required><br><br>
        <label for="calibre">Calibre:</label>
        <select id="calibre" name="calibre">
            {% for calibre in calibres.values() %}
                <option value="{{ calibre.nom }}">{{ calibre.description }}</option>
            {% endfor %}
        </select><br><br>
        <label for="nombre_palettes">Nombre de palettes:</label>
        <input type="number" id="nombre_palettes" name="nombre_palettes" required><br><br>
        <label for="nombre_colis">Nombre de colis:</label>
        <input type="number" id="nombre_colis" name="nombre_colis" value="0" required><br><br>
        <button type="submit">Ajouter</button>
    </form>
    <a href="{{ url_for('maj_commandes') }}">Retour à la liste des commandes</a>
    <footer>
        <div class="footer-left">Val de Serigny</div>
        <div class="footer-right">Clément Cognard</div>
    </footer>
</body>
</html>
