<!DOCTYPE html>
<html>
<head>
    <header>
        <div class="logo">
            <a href="{{ url_for('accueil') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('maj_commandes') }}">Gestion des commandes</a></li>
                <li><a href="{{ url_for('liste_commandes') }}">Liste des commandes</a></li>
                <li><a href="{{ url_for('ajouter_commande') }}">Ajouter une commande</a></li>
            </ul>
        </nav>
    </header>
    <title>Mise à jour des Commandes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="../static/logo_top.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript">
        const socket = io.connect(window.location.origin);
        // Écouteur pour la mise à jour de la commande
        socket.on('mise_a_jour_commande', function(data) {
            window.location.reload(1);
        });

        function getUrlForIncrementer(Id) {
            return "{{ url_for('incrementer_palettes', commande_id='" + Id + "') }}";
        }

        function getUrlForDecrementer(Id) {
            return "{{ url_for('decrementer_palettes', commande_id='" + Id + "') }}";
        }
    </script>
</head>
<body>
    <main>
        <h1>Liste des commandes par calibre</h1>
        {% for calibre, commandes in commandes_par_calibre.items() %}
            <h2>Calibre: {{ calibre }}</h2>
            <ul>
                {% for cmd in commandes %}
                    <li>
                        <span class="status-dot {{ cmd.status_class }}"></span>
                        {{ cmd.nom }} - 
                        {{ cmd.nombre_palettes_realisees }}/{{ cmd.nombre_palettes }} 
                        <a class="plus-button" href="{{ url_for('incrementer_palettes', commande_id=cmd.id) }}">+</a> 
                        <a class="minus-button" href="{{ url_for('decrementer_palettes', commande_id=cmd.id) }}">-</a> 
                        <a class="modify-button" href="{{ url_for('modifier_commande', commande_id=cmd.id) }}">Modifier</a> 
                        <a href="{{ url_for('supprimer_commande', commande_id=cmd.id) }}" class="supprimer" data-nom="{{ cmd.nom }}" data-palettes="{{ cmd.nombre_palettes }}" data-palettes-realisees="{{ cmd.nombre_palettes_realisees }}">Supprimer</a>
                        {{ cmd.nombre_colis }}
                        {% if cmd.nombre_colis != "" %}
                            <a class="valider-colis-button" href="{{ url_for('valide_colis', commande_id=cmd.id) }}">V</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        <a href="{{ url_for('ajouter_commande') }}">Ajouter une nouvelle commande</a>
    </main>
</body>
</html>
