<!DOCTYPE html>
<html>
<head>
    <title>Notification Push</title>
</head>
<body>
    <button id="notificationButton">Envoyer une Notification</button>

    <script>
        // Vérifie si les notifications sont supportées par le navigateur
        if ('Notification' in window) {
            // Vérifie si la permission a déjà été accordée, sinon demande la permission
            if (Notification.permission === 'granted') {
                // Vous pouvez maintenant envoyer des notifications
            } else if (Notification.permission !== 'denied') {
                Notification.requestPermission().then(function (permission) {
                    if (permission === 'granted') {
                        // Vous pouvez maintenant envoyer des notifications
                    }
                });
            }

            // Écoute le clic sur le bouton
            document.getElementById('notificationButton').addEventListener('click', function () {
                // Vérifie si la permission a été accordée
                if (Notification.permission === 'granted') {
                    // Créez une nouvelle notification
                    var notification = new Notification('Titre de la Notification', {
                        body: 'Contenu de la notification.',
                        icon: 'icone.png' // URL de l'icône de la notification (optionnel)
                    });

                    // Vous pouvez également ajouter des actions à la notification
                    notification.onclick = function () {
                        // Ce qui se passe lorsque l'utilisateur clique sur la notification
                        window.open('https://votre-site-web.com');
                    };
                }
            });
        }
    </script>
</body>
</html>
